<!-- your html code here -->
<div class="container mt-5">
    <div class="row py-5">
        <div class="col-12 col-md-7">
            <div>
                <h3>This First Heading Will Catch Your Eye</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum ex enim magnam nam tempore animi qui, velit sapiente deserunt quisquam eveniet, dolorem a quos sed ullam ad. Quibusdam, maiores pariatur?
                </p>
            </div>
            
        </div>
        <div class="col-12 col-md-5 py-2 d-flex justify-content-center">
            <div class="first-heading-image"></div>
        </div>
    </div>
</div>